/*BODY*/

body {
  background-image: url("../assets/bg.jpg");
  background-color: #cccccc;
  margin: 2rem 5rem 0rem 5rem;
  font-family: "Outfit", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

/*HEADER*/

/*È il logo*/
img {
  height: 4rem;
  width: auto;
}

/*TIMER*/
#timer {
  color: white;
  text-align: right;
}

/*contenitore div del timer countdown*/
#countdown {
  margin: -1rem;
  height: 160px;
  width: 160px;
  margin-left: auto;
  margin-right: 5rem;
}

/*È il cerchio blu animato del countdown*/
#countdown svg circle#c2 {
  stroke-dasharray: 113px;
  stroke-dashoffset: 113px;
  stroke-linecap: square;
  stroke-width: 4px;
  stroke: #00ffff;
  fill: none;
  animation: countdown 10s linear infinite forwards;
  animation-delay: 1s;
}

/*È il cerchio bianco fermo sotto il cerchio blu*/
svg circle#c3 {
  stroke: #ffffff;
  opacity: 0.3;
}

/*Si occupa dello stile del numero all'interno del counter*/
svg text {
  font-family: sans-serif;
  fill: white;
  font-weight: bold;
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 1rem;
}

/*si occupa dell'animazione del countdown del cerchio*/
@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: -113px;
  }
}

/*MAIN*/

/*DOMANDA*/

#domanda {
  margin: 2rem 4rem 4rem 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

/*RISPOSTE*/

/*Proprietà del button quando statico*/
button {
  text-align: center;
  color: rgb(253, 249, 249);
  border-radius: 13rem;
  height: 5rem;
  width: 20rem;
  font-size: 1rem;
  margin: 1rem;
  border: 3px solid;
  background: rgb(255, 255, 255, 0.1);
  border-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(79, 79, 79, 1) 100%
  );
}

/*Proprietà del bottone quando ci passo sopra il mouse*/
button:hover {
  background: rgba(200, 1, 144, 0.585);
  background: linear-gradient(
    180deg,
    rgba(200, 1, 144, 0.43) 0%,
    rgba(142, 1, 123, 0.407) 100%
  );
  border-color: rgba(241, 241, 241, 0.5);
}

/*Per allineare i bottoni all'interno di div #rispsote*/
#risposte {
  text-align: center;
  width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

/*TRACKER*/
#Counter {
  margin-top: 10%;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}
#Counter span /*Span per cambiare colore a /10 */ {
  color: rgb(209, 0, 146);
  letter-spacing: 2px;
}
