@tailwind base;
@tailwind components;
@tailwind utilities;

p {
 color: white !important;   
}

i {
    color: black;
}

footer {
    box-shadow: 6px -5px 5px 0px #c1effd;
}

h2:first-of-type {
    color: #0096c7;
}

.btn-primary {
    background-color: #0096c7;
}

.btn-primary:hover {
    background-color: #047aa1;
}

.btn-danger {
    background-color: rgb(203, 55, 55);
}

.btn-danger:hover {
    background-color: rgb(161, 51, 51);
}

.btn-warning {
    background-color :#ffc107
}

.btn-warning:hover {
    background-color :#e3ac06
}

/* Paginazione Frank */
.pagination-btn {
    border: 1px solid #e5e7eb;; /* Colore blu di bootstrap per esempio */
    font-size: 14px;
    font-weight: 700;
    background-color: white;
    color: #6b7280;
    padding: 8px;
    margin: 0px 4px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-btn-yellow {
    border: 1px solid #e5e7eb;; /* Colore blu di bootstrap per esempio */
    font-size: 14px;
    font-weight: 700;
    background-color: white;
    color: #6b7280;
    padding: 8px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 5px;
}

#laravel-pagination{
    display: flex;
    justify-content: center;
}

/* End Paginazione Frank */